<%# coding: UTF-8 -%>
<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>行云在线管理平台</title>
  <meta name="keywords" content="issue,bug,tracker"/>

  <link href="/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/bootstrap-responsive.min.css" media="screen" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/bootstrap.min.js"></script>
  <!-- page specific tags -->
  <script type="text/javascript">
      function get_sidebar_height() {
          document.getElementById("sidebar").style.height = window.screen.height;
      }
  </script>
  <style type="text/css">
      body {
          padding-top: 60px;
          padding-bottom: 40px;
      }
  </style>
</head>
<body min-width="1050px">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target="nav-collapse" href="#">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class='brand' href='http://p.xingcloud.com' style='font-size:35px'>行云</a>

      <div class=".nav-collapse">

      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="margin: 40px 0;">
  <% if @message %>
      <div class="alert">
        <b class="close" data-dismiss="alert">×</b>
        <strong>Warning!</strong> <%= escape_html @message[:message] %>
      </div>
  <% end %>
  <div class="row-fluid">
    <%= yield %>
  </div>
</div>
<div id="footer">
</div>


</body>
</html>
